<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="GuimapFolder" value="D:\MyProject\GuiMaps"/>
    <add key="PageClassFolder" value="D:\MyProject\PageClass"/>
    <add key="PageMethodsCreated" value="D:\MyProject\PageMethods\Default"/>
    <add key="PageMethodsByUser" value="D:\MyProject\PageMethods\UserCreated"/>
    <add key="NameSpace" value="EDMC.DigitalAppPages"/>
    <add key="NameSpacePM" value="EDMC.Test"/>
    <add key="Using1" value="System"/>
    <add key="Using2" value="System.Collections.Generic"/>
    <add key="Using3" value="System.Linq"/>
    <add key="Using4" value="System.Text"/>
    <add key="Using5" value="System.Threading.Tasks"/>
    <add key="Using6" value="UIAccess.WebControls"/>
    <add key="UsingPM" value="UIAccess.WebControls"/>
    <add key="BaseClass" value="AUDigitalPageBase"/>
  </appSettings>
</configuration>
