<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral,&#xD;&#xA;                      PublicKeyToken=b77a5c561934e089"
                                                       >
            <section name="Ecolab.FunctionalTest.Config.TestSettings"
                     type="System.Configuration.ClientSettingsSection,&#xD;&#xA;                     &#xD;&#xA;                     &#xD;&#xA; &#xD;&#xA;                     System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"


                       allowExeDefinition="MachineToLocalUser"
                     requirePermission="false" />
        </sectionGroup>
    </configSections>
 
    <userSettings>
        <Ecolab.FunctionalTest.Config.TestSettings>
            <setting name="Url" serializeAs="String">
                <value>http://hyd-ecolabweb5:9999</value>
            </setting>
            <setting name="DBConnection" serializeAs="String">
                <value>Data Source=HYD-ECOLABDB\SQLExpress;Initial Catalog=ConduitLocalQA;User ID=tcddev;Password=Agstcd@1</value>
            </setting>
            <setting name="GetByFilterAPI" serializeAs="String">
                <value>http://hyd-ecolabweb5:5555/Api/TrendingChart/GetByFilters?</value>
            </setting>
        </Ecolab.FunctionalTest.Config.TestSettings>
    </userSettings>
</configuration>