<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ecolab.MigrationTest.Config.MigrationTestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ecolab.MigrationTest.Config.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ecolab.MigrationTest.Config.MigrationTestSettings>
            <setting name="ChemWatchDBConnection" serializeAs="String">
                <value>Provider=VFPOLEDB.1;Data Source=\\hyd-muqtharshai\D\MigrationProject\Chino;</value>
            </setting>
            <setting name="ConduitDBConnection" serializeAs="String">
                <value>Data Source=HYD-ECOLABDB\SQLExpress;Initial Catalog=ConduitMigration2;User ID=tcddev;Password=Agstcd@1</value>
            </setting>
        </Ecolab.MigrationTest.Config.MigrationTestSettings>
        <Ecolab.MigrationTest.Config.TestSettings>
            <setting name="ChemWatchDBConnection" serializeAs="String">
                <value>Provider=VFPOLEDB.1;Data Source=D:\\Migration_Documents\\ChemWatch_Migration;Extended Properties=dBASE IV;impersonate="true"; user id="Domain99\muqthar.shaik" ;password="alliance123#"</value>
            </setting>
            <setting name="ConduitDBConnection" serializeAs="String">
                <value>Data Source=HYD-ECOLABDB\SQLExpress;Initial Catalog=ConduitMigration;User ID=tcddev;Password=Agstcd@1</value>
            </setting>
        </Ecolab.MigrationTest.Config.TestSettings>
    </userSettings>
</configuration>