<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="GuimapFolder" value="C:\Users\dgandivalasa\Desktop\XML\"/>
    <add key="PageClassFolder" value="C:\Users\dgandivalasa\Desktop\XML\"/>
    <add key="NameSpace" value="EDMC.DigitalAppPages"/>
    <add key="Using1" value="System"/>
    <add key="Using2" value="System.Collections.Generic"/>
    <add key="Using3" value="System.Linq"/>
    <add key="Using4" value="System.Text"/>
    <add key="Using5" value="System.Threading.Tasks"/>
    <add key="Using6" value="UIAccess.WebControls"/>
    <add key="BaseClass" value="AUDigitalPageBase"/>
  </appSettings>
</configuration>
